.principal {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

.projects {
    width: 95%;
    margin: 0 auto;
    border: solid #4831D4 3px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.principal h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #4831D4;
}

.selectionArea {
    width: 50%;
}

.infoArea {
    display: flex;
}

.buttonArea {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #4831D4;
}

.buttonArea h2 {
    cursor: pointer;
}

.buttonArea h2:hover{
    border-bottom: solid #4831D4 1px;
}

.chosen {
    border-bottom: solid #4831D4 3px;
}

.imgArea {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.demonstrationArea {
    width: 50%;
    background-color: white;
    border: solid #4831D4 3px;
}

.demonstrationArea img {
    width: 100%;
}