.principal {
    width: 100%;
    margin-bottom: 100px;
}

.principal h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.selectionArea {
    width: 50%;
}

.infoArea {
    display: flex;
}

.buttonArea {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.buttonArea h2 {
    cursor: pointer;
}

.buttonArea h2:hover{
    border-bottom: solid white 1px;
}

.chosen {
    border-bottom: solid white 3px;
}

.imgArea {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.demonstrationArea {
    width: 50%;
    background-color: #104862;
}

.demonstrationArea img {
    width: 100%;
}