.buttonPrincipal {
    width: 20%;
    margin-top: 30px;
    color: white;
}

.buttonPrincipal h1 {
    font-weight: 100;
}

.buttonPrincipal button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #156082;
    border: none;
    border-radius: 30px;
}

.buttonPrincipal button:hover {
    cursor: pointer;
}

.buttonPrincipal img {
    width: 70%;
    height: 70%;
    margin-top: 3px;
}

.buttonPrincipal h1 {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

.buttonPrincipal > h1:nth-of-type(1) {
    margin-top: 15px;
}