.principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the video vertically if needed */
}

video {
    max-width: 100%;
    max-height: 70vh; /* Adjust this value to fit your layout */
    object-fit: contain;
}