.principal {
    width: 100%;
}

.principal h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggleArea {
    display: flex;
}

.toggleArea button {
    width: 10%;
    background-color: transparent;
    border: none;
}

.toggleArea button > img{
    width: 100%;
}

.toggleArea button > img:hover{
    cursor: pointer;
}

.toggleArea > img {
    width: 80%;
}

.description {
    margin-top: 20px;
    color: white;
    font-weight: 100;
    text-align: center;
}