.principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal button {
    width: 10%;
    background: none;
    border: none;
}

.principal img {
    width: 100%;
    cursor: pointer;
}

.principal .demo {
    width: 80%;
    height: 100%;
    cursor: default;
}